body{
    margin: 0;
    height: 2000px;
}
.top{
    display: block;
    margin: 0;
    height: 50px;
    background-color: white;
    opacity: 0.5;
}
#h1{
    display: inline;
    text-align: center;
    color: black;
    margin: 0;
}
section{
    background: url(https://www.bebedepino.com/web/upload/img/23W_bottom_img_1.jpg) fixed;
    height: 500px;
}
/*url을html에 적용을 하면 전체가 뜨고 여기에 적용하며 ,, 이렇게?? ㅇ햐 이것도 여러가지 해보기*/
/* h1{
    font-family: ;
} */

/* 섹션 백그라운드 이미지를 링크로 첨부한 후 위치를 고정한다. height로 높이를 설정한다. */
/* /클라스 main을 생성하여 섹션 속에 내용을 넣는다. */
/* H2로 제목을 넣고 자식 태그 P와 button을 만든다. 이후 button<div>의 posision값을 rel~로 지정함. 
이유 : mani과 위치를 맞추기 위해 / 이후  justify-content: end; 로 버튼의 위치를 설정해 주었음. */
.main{
    display: block;
    position: absolute;
    top: 180px;
    left: 100px;
    width: 250px;
    /* height: 10px; 자간을 줄여주는 코드는 무엇일까? */
    font-size: 60px;
    color: white;
    animation: slide 3s ease-out;

}
#h2{
    color: white;
    text-align: left;
}
h2{
    margin: 0px;
    font-size: 50px;
}
p{
    position:relative;
    top: 0;
    font-size: 15px;
    color: white;
    text-align: left;
}
#button{
    display: flex;
    justify-content: end;
    position: relative;
    top:5px;

}
button{
    text-align: right;
    background: 0;
    border: 0;
    color: white;
    animation: slide 3s ease-out;
}

a{
    text-align: right;
    border: 0;
    color: white;
}


@keyframes slide
{
    0%{
        left: -100px;
        opacity: 0;
    }
    100%{
        left: 100px;
        opacity: 1;
    }
/*처음에 from, to를 사용하여 애니메이션 적용,, 먹지 않았음... 0과 100으로 설정하니 먹었음*/
}