body{
    margin: 0;
    height: 100%;
}
.top{
    display: block;
    margin: 0;
    height: 50px;
    background-color: white;
    opacity: 0.5;
}  /*반응형을 따로 설정하지 않았는데 자동으로 위치가 조정이 된다...*/
#h1{
    display: inline;
    text-align: center;
    color: black;
    margin: 0;
}
section{
    background: url(https://www.bebedepino.com/web/upload/img/23W_bottom_img_1.jpg) fixed;
    /* background-position: center; */
    /* background-size: cover; */
    /* background-repeat:repeat; 배경이미지를 반복하지 않습니다. */
    /* - 위 코드를 넣어주면,,, 사진의 크기가 창에 맞춰지면서,, 찬의 크기에따라 이미지의 크기도 변한다.. 미디어 쿼리로 
    백그라운드의 이미지를 움직이는 것이 아닌가??,, 
    repeat가 배경이미지의 반복을 의미하여 no repeat를 사용하여 반복하지 않아 창의 크기에 맞게 채워진다 cover와 함꼐 사용하여 
    미디어 쿼리 를 실행시켜도 자동으로 된다고 생ㄱ가했는데 ,, 센터만 남겨도 이미지가 창의 크기에 맞추어 변하는 경우는 대체 왜그럴까? */
    height: 500px;
    /* 백그라운드는 미디어쿼리를 작동하시 않나? */
    
/* background-size 속성	설명
contain	이미지의 가로세로 비율을 유지하면서, 이미지가 잘리지 않을 때까지만 채운다.
cover	이미지의 가로세로 비율을 유지하면서, 이미지가 잘리더라도 주어진 크기를 꽉 채운다.
사이즈 직접 입력
(100%, 200px, 50em 등)	비율에 무관하게 입력한 값에 맞춰 사이즈를 조절     */
}
/*url을html에 적용을 하면 전체가 뜨고 여기에 적용하며 ,, 이렇게?? ㅇ햐 이것도 여러가지 해보기*/
/* h1{
    font-family: ;
} */

/* 섹션 백그라운드 이미지를 링크로 첨부한 후 위치를 고정한다. height로 높이를 설정한다. */
/* /클라스 main을 생성하여 섹션 속에 내용을 넣는다. */
/* H2로 제목을 넣고 자식 태그 P와 button을 만든다. 이후 button<div>의 posision값을 rel~로 지정함. 
이유 : mani과 위치를 맞추기 위해 / 이후  justify-content: end; 로 버튼의 위치를 설정해 주었음. */
.main{
    display: block;
    position: absolute;
    top: 180px;
    left: 100px;
    width: 250px;
    /* height: 10px; 자간을 줄여주는 코드는 무엇일까? */
    font-size: 60px;
    color: white;
    /* font-family: 'Edu TAS Beginner', cursive;  */
    /* font-family: 'Nanum Myeongjo', serif; */
    animation: slide 3s ease-out;

}
#h2{
    color: white;
    text-align: left;
}
h2{
    margin: 0px;
    font-size: 50px;
    font-weight:bold;
    font-family: 'Nanum Myeongjo', serif;
}
p{
    position:relative;
    top: 0;
    font-size: 15px;
    color: white;
    text-align: left;
}
#button{
    display: flex;
    justify-content: end;
    position: relative;
    top:5px;

}
button{
    text-align: right;
    background: 0;
    border: 0;
    color: white;
    animation: slide 3s ease-out;
}

a{
    text-align: right;
    border: 0;
    color: white;
}


@keyframes slide
{
    0%{
        left: -100px;
        opacity: 0;
    }
    100%{
        left: 100px;
        opacity: 1;
    }
/*처음에 from, to를 사용하여 애니메이션 적용,, 먹지 않았음... 0과 100으로 설정하니 먹었음*/
}