body.div{
    display: flex;
    justify-content: center;
}

#submitstyl:active{
    background-color: blue;
}

a:visited {
    color: orange;
}

.p:disabled {
    background-color:blueviolet;
}

div{
    display: inline;
}

button:hover{
    background-color: pink;
}



#line{
    position: relative;
    left: 10px;
    right: 10px;
    border-left: thin solid black;
    height: 3px;
}

/*input {} 으로 하면 모든 input 태그를 선택하니까 type에 따라 선택하는 방법을 먼저 알려드리겠습니다.

input[type=text] {
}
위와 같은 선택자를 사용하면 input 태그에 type 속성이 text인 친구들을 선택하는 방법입니다.
*/

input[type=text]{
    width: 100px;
    height: 30px;
    font-size: 10px;
    border: 0;
    border-radius: 50px;
    background-color: gainsboro;
}

input[type=text]:focus{
    background-color: beige;
    color: black;
}
#p{
    display: block;
    padding-top: 10px;
}