#chapter{
    display:inline;
    justify-content:center;
    align-items: flex-start;
    padding-top: 10px;
/*FLEX박스 다시 보기... 그래서 뭔뎅.. justify,aling 태그는 어디에서 사용가능?*/
    width: 70px;
    height: 70px;
    background-color: 230 218 204;
    border:



////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ////:-:////ㄴㅇㄴ/////
////ㄴㅇㄴ- ////ㄴㅇㄴ/////
////ㄴㅇㄴ//// - ////ㄴㅇㄴ/////

플렉스 박스는 무엇인가.. ?
희지니 오늘 공부할 수 있겠어???
이 질문을 던져야해
그 공시 준비할 때랑 똑같아...,.,.,.,
이제 점점 무거워짐.. 
극 초반 ,,,




