
.login{
    display:flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 10%;
    height: 100%;
    width: 100%;
}

.img{
    display: inline-block;
    position: absolute;
    top: 0%;

}
.userid{
    display: inline-block;
    position: absolute;
    top: 32%;
    text-align: right;
}
.password{
display: inline-block;
position: absolute;
top: 40%;
text-align: right;

}
.submit{
position: absolute;
top: 52%;
background: url("/코딩알려주는 누나/login.html/로그인버튼.png") no-repeat;
background-size:contain;
    border: 0;
    height: 45px;
    width: 100px;

}
.submit {

}

input[type=text]{
    width: 200px;
    height: 30px;
    font-size: 10px;
    border: 0;
    border-radius: 50px;
    background-color: gainsboro;
    position:relative;
    margin:10px 0;
  }